{% extends 'base.html.twig' %}

{% block title %}Cevenne's Gate
{% endblock %}

{% block body %}
	<div class="">
		<div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
			<div class="text-center">

				<p>Bienvenue aux portes de Cevenne,
					{% if app.user.username is defined %}
						{{app.user.username}}</p>
				</p>
				<p>Choisissez un nom pour votre héros</p>
				<div {{ react_component('Home') }}></div>
		{% else %}
			</p>
			<p>
				<a href="{{path('app_login')}}">Identifiez vous</a>
				pour ouvrir les portes</p>
		{% endif %}

	</div>
</div></div>{% endblock %}
